@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html{
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: white;
}


.header__nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin:1.5em 1.2em 2em 1.2em;
    height: 53px;
}

.menu{
    margin-top: 25px;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color: #EB6C27;
    padding: 1em;
    gap: 0.5em;
}

.menu a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid currentColor;
}

.menu a:hover {
    font-weight: bolder;
}

menu::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    margin-right: calc((46px - 25px) / 2);
    transform: translateY(-100%);
    border: 12.5px solid white;
    border-bottom-color: #EB6C27;
    border-bottom-style: solid;
    border-bottom-width: 25px;
    border-top: none;
}

.navbar{
    border: black 2px solid;
}

.hamburger {
    flex-direction: column;
    align-items: center;
    display: none;
}

.hamburger::after {
    content: url(../media/hamburger.svg);
}


@media screen and (max-width: 832px) {
    .hamburger { 
        display: flex;
    } 
    .hamburger-menu--hidden {
        z-index: -1;
    }
}

    .img--responsive {
        width: 320px;
        height: 200px;
    }

    .title{
        display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top:179px;
    padding-bottom:20px;
    background-image:url(./media/pageheader-1920w.jpg);
    background-position: center;
    background-size:auto 150%;
    background-repeat: no-repeat;
    margin-bottom: 55px;
    }

    .navbar__menu--hidden {
        display: none;
    }
    .logo{
        height: 100%;
    }
    .img--responsive--right{
        width: 320px;
        height: 134px;
        border-bottom-right-radius: 40px;
    }
    .img--responsive--left{
        width: 320px;
        height: 134px;
        border-bottom-left-radius: 20px;
    }
    .button--lined{
        border: 2px;
        color: #eb6c27;
        border-style: dashed;
        padding: 7.5px;
        text-decoration: none;
    }
    .services{
        max-width: 60%;
        margin: 20px;
    }
    .novostavby{
        max-width: 60%;
        margin: 20px;
    }
    .prumyslove{
        max-width: 60%;
        margin: 20px;
    }
    .rekonstrukce{
        max-width: 60%;
        margin: 20px;
    }
    .komunikace{
        max-width: 60%;
        margin: 20px;
    }
    .reference{
        max-width: 60%;
        margin: 20px;
    }
    .presvedceni{
        max-width: 60%;
        margin: 20px;
    }
    .footer{
        max-width: 80%;
        margin-top: 25px;
        background-color: #EB6C27;
        text-decoration: none;
        display: grid;
        justify-items: center;
    }
    .contact_button{
        padding: 10px;
        margin: 5px;
        background-color: white;
        text-align: center;
        text-decoration: none;
        color: #EB6C27;
        font-weight: 600;
    }
    .ukazky{
        max-width: 50%;
        margin: 20px;
    }
    .button_reference{
        border: #EB6C27;
        background-color: #EB6C27;
        padding: 5px;
        text-decoration: none;
        color: white;
    }
    .main{
        display: grid;
        justify-items: center;
    }

@media (max-width: 1980px){

}